<!-- <p>banner works!</p> -->
<div class="col-12">
    <div class="row">
        <div class="vc_column-inner">
            <div class="wpb_wrapper">
                <div id="rev_slider_1_2_wrapper" class="rev_slider_wrapper fullscreen-container" data-source="gallery" style="background:transparent;padding:0px;">

                    <div id="rev_slider_1_2" class="rev_slider fullscreenbanner" data-version="5.4.7.4">
                        <ul>
                            <li data-index="rs-1" data-transition="fade,slideoverleft" data-slotamount="default,default" data-hideafterloop="0" data-hideslideonmobile="off" data-easein="default,default" data-easeout="default,default" data-masterspeed="default,default" data-rotate="0,0"
                                data-saveperformance="off" data-title="Slide">

                                <img [src]="bannerImages[0].img_url" alt="r" title="h1-rev-img-1" width="1920" height="903" data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat" class="rev-slidebg" data-no-retina>

                                <div class="tp-caption  " id="slide-1-layer-2" data-x="['center','center','center','center']" data-hoffset="['0','0','0','-1']" data-y="['middle','middle','middle','middle']" data-voffset="['20','41','10','25']" data-fontsize="['70','60','60','30']" data-lineheight="['105','105','100','50']"
                                    data-width="none" data-height="none" data-whitespace="nowrap" data-type="text" data-basealign="slide" data-responsive_offset="off" data-responsive="off" data-frames='[{"delay":400,"speed":1500,"frame":"0","from":"y:-50px;opacity:0;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;","ease":"Power3.easeInOut"}]'
                                    data-textAlign="['inherit','inherit','inherit','inherit']" data-paddingtop="[0,0,0,0]" data-paddingright="[0,0,0,0]" data-paddingbottom="[0,0,0,0]" data-paddingleft="[0,0,0,0]">HAVE A NICE STAY
                                </div>
                            </li>

                            <li data-index="rs-2" data-transition="fade,slideoverleft" data-slotamount="default,default" data-hideafterloop="0" data-hideslideonmobile="off" data-easein="default,default" data-easeout="default,default" data-masterspeed="default,default" data-rotate="0,0"
                                data-saveperformance="off" data-title="Slide">

                                <img [src]="bannerImages[1].img_url" alt="y" title="h1-rev-img-4" width="1920" height="903" data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat" class="rev-slidebg" data-no-retina>

                                <div class="tp-caption  " id="slide-17-layer-2" data-x="['center','center','center','center']" data-hoffset="['0','0','0','-1']" data-y="['middle','middle','middle','middle']" data-voffset="['20','41','10','25']" data-fontsize="['70','60','60','30']"
                                    data-lineheight="['105','105','100','50']" data-width="none" data-height="none" data-whitespace="nowrap" data-type="text" data-basealign="slide" data-responsive_offset="off" data-responsive="off" data-frames='[{"delay":400,"speed":1500,"frame":"0","from":"y:-50px;opacity:0;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;","ease":"Power3.easeInOut"}]'
                                    data-textAlign="['inherit','inherit','inherit','inherit']" data-paddingtop="[0,0,0,0]" data-paddingright="[0,0,0,0]" data-paddingbottom="[0,0,0,0]" data-paddingleft="[0,0,0,0]">MEET THE CITY
                                </div>
                            </li>

                            <li data-index="rs-3" data-transition="fade,slideoverleft" data-slotamount="default,default" data-hideafterloop="0" data-hideslideonmobile="off" data-easein="default,default" data-easeout="default,default" data-masterspeed="default,default" data-rotate="0,0"
                                data-saveperformance="off" data-title="Slide">

                                <img [src]="bannerImages[2].img_url" alt="f" title="h1-rev-img-3" width="1920" height="903" data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat" class="rev-slidebg" data-no-retina>

                                <div class="tp-caption  " id="slide-18-layer-2" data-x="['center','center','center','center']" data-hoffset="['0','0','0','-1']" data-y="['middle','middle','middle','middle']" data-voffset="['20','41','10','25']" data-fontsize="['70','60','60','30']"
                                    data-lineheight="['105','105','100','50']" data-width="none" data-height="none" data-whitespace="nowrap" data-type="text" data-basealign="slide" data-responsive_offset="off" data-responsive="off" data-frames='[{"delay":400,"speed":1500,"frame":"0","from":"y:-50px;opacity:0;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;","ease":"Power3.easeInOut"}]'
                                    data-textAlign="['inherit','inherit','inherit','inherit']" data-paddingtop="[0,0,0,0]" data-paddingright="[0,0,0,0]" data-paddingbottom="[0,0,0,0]" data-paddingleft="[0,0,0,0]">ROOM WITH A VIEW
                                </div>

                            </li>
                        </ul>
                        <div class="tp-bannertimer tp-bottom" style="visibility: hidden !important;"></div>
                    </div>
                    <a style="display: none;" data-toggle="tooltip" data-placement="top" title="Play Slider" class="tp-caption btn-slider-action" id="slidePlay"><i class="fal fa-play"></i></a>

                    <a class="tp-caption btn-slider-action" id="slidePause" data-toggle="tooltip" data-placement="top" title="Pause Slider"><i class="fal fa-pause"></i></a>
                </div>
            </div>
        </div>
    </div>
</div>