<!-- <p>forgot-password works!</p> -->
<form [formGroup]="forgotForm" (ngSubmit)="onForgot()">
    <div class="rowput">
        <app-form-error-alert></app-form-error-alert>
    </div>
    <div class="rowput">
        <i class="fal fa-envelope"></i>
        <input
            formControlName="email"
            type="text"
            name="forgot_pwd_email"
            id="recover_email"
            class="logpadding form-control"
            placeholder="Enter Email-Id"
        >
        <div class="text-danger f-12">
            <small *ngIf="hasError('email', 'required')">
                *Email is required
            </small>
            <small *ngIf="hasError('email', 'maxlength')">
                *Maximum characters exceeded
            </small>
            <small *ngIf="hasError('email', 'email')">
                *Email not valid
            </small>
        </div>
    </div>
    <div class="linetopbtm1" style="position: relative; float: left; width: 100%; margin-top: 15px;">
        <div class="orroundlog">OR</div>
    </div>
    <div class="rowput">
        <input
            type="text"
            class="conform country_code_no"
            name="contact_code"
            placeholder="Contact No"
        >
        <input
            type="text"
            name="forgot_pwd_phone"
            id="recover_phone"
            class="logpadding mobilenoo form-control"
            placeholder="Registered Mobile Number "
        >
    </div>
    <div class="clearfix"></div>
    <div id="recover-title-wrapper" class="alert alert-success" style="display: none">
        <p>
            <i class="fa fa-warning"></i>
            <span id="recover-title"></span>
        </p>
    </div>
    <div class="clearfix"></div>
    <button class="submitlogin" id="reset-password-trigger">
        <span class="submitlogin-wrapper">
            <span class="submitlogin-text">Submit</span>
        </span>
        <span class="submitlogin-bgrnd-wrapper">
            <span class="submitlogin-idle" style="background-color: #000"></span>
            <span class="submitlogin-hover" style="background-color: #fff"></span>
        </span>
    </button>
    <div class="clearfix"></div>
    <div class="dntacnt d-none">
        I am an Existing User
        <a class="hand-cursor open_sign_in">Login Here</a>
    </div>
</form>
