.result-container {background-color: #fff; padding: 1.5rem 0 2.5rem;}
.pdrt20 { padding-left: 0px; padding-right: 20px; }
.filter-cont {
    background: #f7f7f7; 
}
.filter_section {padding:8px 11px; border-bottom: 1px solid #dfdddd;}
.filter-head {
    display: flex;
    justify-content: space-between;
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 6px;
}

.multi-selection, .single-selection {
    margin-bottom: 0px;
}

.filter-list {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 0.875rem;
}

.filter-list {
    margin-bottom: 4px;
}

.filter-list label { 
    margin-bottom: 0px;
    font-size: 13px; color: #000;
    line-height: 25px;
    font-weight: 500; }

.multi-selection .filter-list .srate {
    font-weight: 600;
    color: #000;
}
.multi-selection .filter-list .custom-control-input:checked~.custom-control-label::before {
    color: #fff;
    border-color: #333;
    background-color: #000;
}

.single-selection .filter-list {
    margin-bottom: 5px;
    border: 1px solid #E0E0E0;
    border-radius: 4px;
    padding:7px 12px;
    cursor: pointer;
    transition: background-color .3s;
}

.single-selection .filter-list.selected {
    border-color: #333;
    background: #000;
    color: #fff;
}

.filter-list .icon {
    background-repeat: no-repeat;
    width: 21px;
    height: 21px;
    display: inline-block;
    margin-right: 12px;
    vertical-align: middle;
}

.ic-moon{background-image:url(../images/ic-moon.svg)}
.ic-morning{background-image:url(../images/ic-morning.svg)}
.ic-noon{background-image:url(../images/ic-noon.svg)}
.selected .ic-moon{background-image:url(../images/ic-moon-selected.svg)}
.selected .ic-morning{background-image:url(../images/ic-morning-selected.svg)}
.selected .ic-noon{background-image:url(../images/ic-noon-selected.svg)}
.stickydiv { position: sticky; top: 100px; }


/* Range Slider*/
.duration-outer { padding-bottom: 25px; }
/*.duration-inner {
    position: absolute;
    left: 0;
    top: 16px;
    right: 0;
}
*/
#output {
    position: relative;
    top: -14px;
    left: 0px;
    color: #000;
}
.rangeslider,
.rangeslider__fill {
  display: block;
  -moz-box-shadow: inset 0px 1px 3px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: inset 0px 1px 3px rgba(0, 0, 0, 0.3);
  box-shadow: inset 0px 1px 3px rgba(0, 0, 0, 0.3);
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
}

.rangeslider {
  background: #e6e6e6;
  position: relative;
}

.rangeslider--horizontal {
  height: 6px;
  width: 100%;
}

.rangeslider--vertical {
  width: 20px;
  min-height: 150px;
  max-height: 100%;
}

.rangeslider--disabled {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=40);
  opacity: 0.4;
}
.rangeslider__fill {
  background: #000000;
  position: absolute;
}
.rangeslider--horizontal .rangeslider__fill {
  top: 0;
  height: 100%;
}
.rangeslider--vertical .rangeslider__fill {
  bottom: 0;
  width: 100%;
}

.rangeslider__handle {
  cursor: pointer;
  display: inline-block;
  width: 22px;
  height: 22px;
  position: absolute;
  background: linear-gradient(270deg, #000000 0%, #5d5d5d 100%);
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
}

.rangeslider--horizontal .rangeslider__handle {
  top: -9px;
  touch-action: pan-y;
  -ms-touch-action: pan-y;
}
.rangeslider--vertical .rangeslider__handle {
  left: -10px;
  touch-action: pan-x;
  -ms-touch-action: pan-x;
}

input[type="range"]:focus + .rangeslider .rangeslider__handle {
  -moz-box-shadow: 0 0 8px rgba(255, 0, 255, 0.9);
  -webkit-box-shadow: 0 0 8px rgba(255, 0, 255, 0.9);
  box-shadow: 0 0 8px rgba(255, 0, 255, 0.9);
}

.slider-labels {
  margin-top: 10px; margin-bottom: 7px; font-weight: 600; font-size: 14px;
}

/* Functional styling;
 * These styles are required for noUiSlider to function.
 * You don't need to change these rules to apply your design.
 */
.noUi-target,.noUi-target * {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -ms-touch-action: none;
  touch-action: none;
  -ms-user-select: none;
  -moz-user-select: none;
  user-select: none;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.noUi-target {
  position: relative;
  direction: ltr;
}

.noUi-base {
  width: 93%;
  height: 100%;
  position: relative;
  z-index: 1; margin: 0px auto;
/* Fix 401 */
}

.noUi-origin {
  position: absolute;
  right: 0;
  top: 0;
  left: 0;
  bottom: 0;
}

.noUi-handle {
  position: relative;
  z-index: 1;
}

.noUi-stacking .noUi-handle {
/* This class is applied to the lower origin when
   its values is > 50%. */
  z-index: 10;
}

.noUi-state-tap .noUi-origin {
  -webkit-transition: left 0.3s,top .3s;
  transition: left 0.3s,top .3s;
}

.noUi-state-drag * {
  cursor: inherit !important;
}

/* Painting and performance;
 * Browsers can paint handles in their own layer.
 */
.noUi-base,.noUi-handle {
  -webkit-transform: translate3d(0,0,0);
  transform: translate3d(0,0,0);
}

/* Slider size and handle placement;
 */
.noUi-horizontal {
  height: 2px;
}

.noUi-horizontal .noUi-handle {
 width: 7px;
    height: 7px;
    border-radius: 50%;
    left: -11px;
    top: -5px;
    background: #000;
    border: 2px solid #000;
}

/* Styling;
 */
.noUi-background {
  background: #e6e6e6;
    webkit-box-shadow: inset 0px 1px 3px rgba(0, 0, 0, 0.3);
    box-shadow: inset 0px 1px 3px rgba(0, 0, 0, 0.3);
  }

.noUi-connect {
  background: #000;
  -webkit-transition: background 450ms;
  transition: background 450ms;
}

.noUi-origin {
  border-radius: 2px;
}

.noUi-target {
  border-radius: 2px;
}

.noUi-target.noUi-connect {
}

/* Handles and cursors;
 */
.noUi-draggable {
  cursor: w-resize;
}

.noUi-vertical .noUi-draggable {
  cursor: n-resize;
}

.noUi-handle {
  cursor: default;
  -webkit-box-sizing: content-box !important;
  -moz-box-sizing: content-box !important;
  box-sizing: content-box !important;
}


/* Disabled state;
 */
[disabled].noUi-connect,[disabled] .noUi-connect {
  background: #000;
}

[disabled].noUi-origin,[disabled] .noUi-handle {
  cursor: not-allowed;
}


/* End Range Slider*/