.hsmall-only{ position: relative; }
.hsmall-only .bold-black { font-weight: 900; font-size: 21px; display: inline-block; }

.ml-8 {
    margin-left: 0.5rem;
}

.mt-8 {
    margin-top: 0.5rem;
}

.sres { float: right;
    background: #2196f3;
    padding: 4px 15px;
    color: #fff;
    border-radius: 30px; }


.filtered-item {
    background-color: #d0d1d4;
    border-radius: 16px;
    padding: 6px 12px;
    font-size: 13px;
    color: #000;
    margin: 0 10px 10px 0;
    display: inline-block;
}

.full-width {
    width: 100%;
}

.sort-cont{ margin-top: 6px; }
.sort {
    border-radius: 4px;
    padding: 6px 2%; font-weight: bold;
    padding-left: 7px !important; font-size: 14px;
    align-items: center;
}
.mb-20 {
    margin-bottom: 20px;
}

.secndry-bg {
    background: #d8d8d8;
}

.i-b {
    display: inline-block;
}
.v-aligm-m {
    vertical-align: middle;
}
.no-wrap {
    white-space: nowrap;
}

.sort .sort-nav ul li {
    width: 24%;
    text-align: center;
}

.uprcse {
    text-transform: uppercase; position: relative; font-size: 12px; margin-bottom: 0px; font-weight: 600; color: #000;
}

.blcolr { color: #000 !important; }


.mapviw.noviews {
    float: right;
    display: table;
    width: auto;
    overflow: hidden;
    margin: 0;
    padding: 5px 0px;
}

.reswd {
    float: left;
}

.rit_view {
    float: left;
    display: block;
    overflow: hidden;
}

.view_type {
    background: #d8d8d8;
    border: 1px solid #d8d8d8;
    border-radius: 2px;
    color: #000 !important;
    float: left;
    font-size: 14px;
    line-height: 32px;
    padding: 0 9px;
    width: 35px;
    text-align: center;
    margin: 0 2px;
}

.view_type.active {
    background: #000 none repeat scroll 0 0;
    border: 1px solid #000;
    color: #fff !important;
}

.rowresult {
    float: left;
    transition: all 400ms ease-in-out 0s; border: 1px solid #fff;
        box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.18);
    width: 100%; margin: 10px 0px;
}

.madgrid {
    background: #fff none repeat scroll 0 0;
    position: relative;
    
    display: block;
    position: relative;
    margin: 0px 0;
}

.madgrid.forhtlpopover {
    float: left;
    overflow: visible;
    width: 100%;
    background: #f8f8f8;
    padding: 4px;
    border-radius: 0px;
}

.imagehtldis {
    display: block;
    height: 90px;
    background: #fff;
}

.rowresult.r-r-i .imagehtldis img {
    height: 90px;
    width: 100%;
}

.sidenamedesc {
    display: block;
    width: 100%;
}

.celhtl {
    float: left;
}

.width70 {
    width: 72%;
}

.width30 {
    width: 28%;
}

.celhtl.width30 {
    vertical-align: middle;
    padding: 39px 0 20px 0px;
    overflow: hidden;
    display: block;
}

.sidepricewrp {
    display: block;
    overflow: hidden;
    padding: 0px;
}
.car_det_view { display: block; text-align: center; margin-top: 7px; color: #000; font-weight: 500; font-size:13px; }
.priceflights {
    color: #0027ff;
    display: block;
    font-size: 18px;
    overflow: hidden;
    text-align: right;
    font-weight: 700;
    margin: 20px 0 0;
}

.priceflights strong {
    font-weight: 700;
    margin-right: 3px;
}

.prcstrtingt {
    color: #666;
    display: block;
    font-size: 12px;
    overflow: hidden;
    font-weight: 400;
}

.bookallbtn {
    background: #000000 none repeat scroll 0 0;
    box-shadow: 1px 1px 3px 0px #c8c6c6;
    border: 1px solid #9b9797;
    border-radius: 3px;
    color: #fff !important;
    display: table;
    font-size: 16px;
    width: 110px;
    padding: 4px 10px;
    text-align: center;
    margin: 13px auto;
}

.bookallbtn:hover { box-shadow: 1px -1px 4px 0px #4b4747;
    border: 1px solid #151414; }

.innd {
    display: block;
    
    padding: 0px 0 0 15px;
    position: relative;
}


.imptpldz {
    float: left;
    width: 100%;
    padding: 0;
    margin: 0;
    position: relative;
}


.shtlnamehotl {
    display: table;
    font-size: 18px;
    overflow: hidden;
    position: relative;
    text-overflow: ellipsis;
    white-space: normal;
    padding: 0;
    float: left;
    font-weight: 600;
}

.h-name {
    white-space: normal;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-right: 7px;
    font-weight: 600;
    display: inline;
    font-size: 15px;
    color: #000;
    width: 100%;
}

.shtlnamehotl a { color: #000 !important; }
.starrtinghotl.rating-no {
   position: relative;
    top: 2px;
    padding: 0;
    font-size: 14px;
    display: block;
    vertical-align: middle;
    color: #0027ff;
}

.starrtinghotl.rating-no img { vertical-align: inherit; width: 80px;}

.adreshotle {
   color: #767676;
    display: block;
    font-size: 14px;
    line-height: 20px;
    margin-right: 10px;
    padding: 4px 0;
    overflow: hidden;
    float: left;
    text-transform: capitalize;
    font-weight: normal;
    width: 100%;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.h-adr i {
    padding: 0 5px 0 0;
    font-size: 14px;
    color: #000;
}

.preclsdv {
    font-size: 13px;
    font-weight: 500;
    margin: 0;
    float: left;
    width: 100%;
    overflow: hidden;
    margin-top: 5px;
}

.canplyto {
    color: #529901;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    display: block;
    position: relative;
    vertical-align: middle;
}


.canplyto .fa {
    color: #fff;
    border: 1px solid #529901;
    border-radius: 100%;
    font-size: 12px;
    background: #529901;
    height: 17px;
    width: 17px;
    text-align: center;
    line-height: 17px;
}

.bothicntri {
    float: left;
    width: 100%;
    display: table;
}

.mwifdiv {
    display: block;
    float: left;
    overflow: hidden;
    padding: 0px 0 0;
}

.maprew {
    padding: 0 !important;
    float: right;
    position: absolute;
    right: 0;
    top: 7px;
}

.hoteloctnf {
    color: #0072FF;
    display: block;
    font-size: 14px;
    margin: 0 10px; font-weight: 600;
    text-align: right;
}

.hoteloctnf a { color: #2196F3; }

.hoteloctnf .location-map {
    text-align: center;
    line-height: 33px;
    color: #0072FF;
    font-size: 16px;
}

.htl_spr li {
    float: left; margin: 6px 10px 0px; 
    
}


.htl_spr li:first-child {
    margin-left: 0;
}

.htl_spr li span {
    font-size: 14px;
}

.htl_spr li i {

    
    padding: 0;
    
    text-align: center;
    line-height: 30px;
    font-size: 18px;
    font-weight: 500;
    color: #464646;
}

.mn_dis {
    width: 100%;
    float: left;
    background: #fff;
    border: solid 1px #ddd;
    padding: 10px;
}

.middleCol {
    display: block;
    overflow: hidden;
}

.features1 {
    display: block;
    margin-top: 16px;
    float: left;
    width: 100%;
    overflow: hidden;
}

.features1 li {
    float: left;
    padding: 0px 5px;
    width: 25%;
    border-right: 1px solid #cbcbcc;
}


.features1 li.transmission span {
    background-position: -24px 0;
}
.features1 li .mn-icon {
    background: rgba(0, 0, 0, 0) url(../images/icons-car-features.png) no-repeat scroll 0 0;
    display: block;
    float: left;
    height: 24px;
    margin: 0 5px 0 5px;
    width: 24px;
}

li.fuel.tooltipv {
    width: 50%;
}

li.fuel.tooltipv i {
    display: block;
    float: left;
    height: 24px;
    margin: 0 5px 0 5px;
    width: 24px;
    background: #79797a;
    color: #fff;
    font-size: 16px;
    line-height: 26px;
    border-radius: 50%;
    text-align: center;
}

.features1 li strong {
    color: #000;
    display: block;
    float: left;
    font-size: 14px;
    font-weight: 500;
    line-height: 25px;
}

#htldets0 {
    padding-top: 10px;
}

.parasub {
    color: #666;
    display: block;
    font-size: 13px;
    line-height: 20px;
    overflow: hidden;
    padding: 0 15px;
}

.checklist {
    display: block;
    overflow: hidden;
    margin: 0px;
    padding:0px;
}

.checklist li {
    color: #666;
    float: left;
    font-size: 15px;
    list-style: none;
    line-height: 18px;
    margin: 5px 0;
    width: auto;
    padding: 0px 30px 0px 0px;
}

.parasub .checklist li {
    font-size: 13px;
    margin: 5px 0;
    width: auto;
    padding: 0px 30px 0px 0px;
}


.checklist li .fa {
    color: #2196f3;
    padding-right: 7px;
}

.linebrk {
    background: none repeat scroll 0 0 #eee;
    display: block;
    height: 1px;
    margin: 10px 0;
    overflow: hidden;
    width: 100%;
}

.sumtab {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
    border: medium none;
    display: block;
    font-size: 14px;
    font-weight: 500;
    overflow: hidden;
    padding: 0px 15px;
    position: relative;
    color: #0027ff;
}

.mn_dis.car_show.collapse button.sumtab {
    background: none;
    box-shadow: none;
    border: none;
    color: #f47920;
}

.age_lmt {
    width: 100%;
    float: left;
}

.includ { background: #f7f7f7;
    padding: 5px 0px;
    margin-top: 10px; }

.parasub {
    color: #666;
    display: block;
    font-size: 13px;
    line-height: 20px;
    overflow: hidden;
    padding: 0 15px;
}

.checklist {
    display: block;
    margin: 0px; padding:0px;
    overflow: hidden;
}

.parasub .checklist li {
    font-size: 13px;
    margin: 5px 0;
    width: auto;
    padding: 0px 30px 0px 0px;
    color: #000;
    float: left;
    line-height: 18px;
    list-style: none;
    font-weight: 500;
}