.f-search-wrap{
    /*background: linear-gradient(to right, rgb(31, 32, 32) 0%, rgb(188, 144, 78) 100%);*/
    background: #fff;
    padding:8px 0px 5px 0px;
    margin-bottom: 5px;
    background: linear-gradient(to right, rgb(31, 32, 32) 0%, rgb(188, 144, 78) 100%);
    background: #fff;
    padding: 10px 0px 10px 0px;
    margin-bottom: 5px;
    color: #fff;
    background: transparent !important;
    padding: 0;
    position: relative;
    z-index: 10;
    background: #e4e4e4;

    padding: 10px;
    position: absolute;
    top: 40%;
    top: 25%;
    left: 0;
    right: 0;
    z-index: 110;
}
.nonstop-flight .custom-checkbox .custom-control-label::before { border-radius: 0px !important; }
.nonstop-flight .custom-control-input:checked~.custom-control-label::before {
    color: #fff;
    border-color: #333; border-radius: 0px !important;
    background-color: #000;
}

.hide {
    display: none;
}

.hotlheddng h1 {
    font-size: 32px;
    color: #fff;
    font-weight: 700;
    text-transform: uppercase;
}

.hotlheddng h1 span {
    font-size: 24px;
    color: #fff;
    font-weight: 700;
    text-transform: capitalize;
    position: relative;
    top: -2px;
}

.white-text {
    color: #FFFFFF !important;
}

.selecttrip {
    position: relative;
    overflow-x: auto;
    overflow-y: hidden;
    width: 100%;
    margin: 0 auto;
    white-space: nowrap;
    padding-left: 0;
    margin-bottom: 0px !important;
}

.mb-20 {
    margin-bottom: 5px;
}
.nopad { padding: 0px; }
.selecttrip .tab {
    display: inline-block;
}

.mr-8 {
    margin-right: 0.5rem;
}

.tab-list {
    border-radius: 16.5px;
    border: 1px solid #E7E7E7;
    text-align: center;
    line-height: 32px;
    max-height: 33px;
    padding: 0 12px;
    font-size: 0.875rem;
}

.tab-list:hover, .tab-list.active {
    background-color: #FFEFD9;
    border-color: #FFEFD9;
    color: rgba(0,0,0,0.87) !important;
}

.selecttrip .tab .custom-control {
    color: inherit;
    display: block;
    width: 100%;
    height: 100%; padding:0px;
    text-overflow: ellipsis;
    overflow: hidden;
    -webkit-transition: color .28s ease, background-color .28s ease;
    transition: color .28s ease, background-color .28s ease;
}
.selecttrip .tab .custom-control-label {
    height: 25px;
    cursor: pointer;
    padding: 0px 15px;
    line-height: 26px;
    border-radius: 4px;
    border: 1px solid #ddd;
    color: #090909;
    font-size: 14px;
    font-weight: 700;
    background: #ddd;
}
/*.selecttrip .tab .custom-control-label::before { top: 0px; left: 0px; right: 0px; bottom: 0px; width: 100%; height: 100%; background: none; border-radius: 0px; border:none; } */
.selecttrip .tab .custom-control-input:checked~.custom-control-label { background: #000; z-index: 99; border:1px solid #000; color: #fff; }
.selecttrip .tab .custom-control-input:checked~.custom-control-label::after { display: none; } 
.valign-wrapper {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;    
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
}
.nonstop-flight {  margin-bottom: 0px !important;  }
.flex-2 {
    flex: 2;
}

.ai-fs {
    align-items: flex-start;
}

.field-inner {
    margin-right: 1.25rem;
    flex: 1;
    position: relative;
}
.padrt10 { padding-right: 1px !important; padding-left: 0px; }
.fs-18 {
    font-size: 1.125rem;
}

.bold {
    font-weight: bold;
}

.d-block {
    display: block;
}
.fs-14 {
    font-size: 0.875rem;
}


.mb-8 {
    margin-bottom: 0.5rem;
}

.f-search-wrap input {
       border: none;
    border-radius: 0px;
    outline: none;
    width: 100%;
    font-size: 14px;
    justify-content: space-between; font-weight: 400;
    border: 1px solid #b3b0b0 !important;
    height: 42px !important;
    color: #000;
    padding: 7px 10px 7px 30px;
    background: #fff;
}
.f-search-wrap input::placeholder { color: #000; font-weight: 400 !important; }

.flex-auto {
    flex: auto;
}
.as-fs {
    align-self: flex-start;
}

.flex-b1 {
    flex: 0.9;
}

.f-search-wrap .search-flight-cta {
    background-color: transparent;
    margin-top: 24px;
    padding: 8px 10px;
    font-size: 14px;
    width: 100%;
    font-weight: 500;
    border-radius: 0px;
    color: #ffffff;
    align-self: flex-end;
    text-transform: uppercase;
    border: 2px solid #fff;
    height: 42px;
}

.search-flight-cta {
    color: #fff;
    background-color: transparent;
   border: 1px solid #fff;
    font-size: 16px;
    margin: 12px 0px 12px 0;
    position: relative;
        overflow: hidden;
    vertical-align: middle;
    -webkit-transition: color .1s 30ms;
    -moz-transition: color .1s 30ms;
    transition: color .1s 30ms;
    padding: 11px 0;
    width: 100%;
        font-weight: 600;
    text-transform: uppercase;
        
}

.sort-cont .secndry-bg .sort-nav li a::after {
    position: absolute;
    display: block;
    content: " ";
    left: 0;
    bottom: 0px;
    width: 0px;
    -webkit-transition: width .23s;
    -moz-transition: width .23s;
    transition: width .23s;
    border-bottom: 1.5px solid #fff;
}

.sort-cont .secndry-bg .sort-nav li a:hover::after {
    width: 100%;
}

.nonstop-flight label { color: #fff !important; }

.search-flight-cta .search-flight-cta-bgrnd-wrapper>span {
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    -webkit-transition: -webkit-transform .3s cubic-bezier(.215,.61,.355,1);
    -moz-transition: -moz-transform .3s cubic-bezier(.215,.61,.355,1);
    transition: transform .3s cubic-bezier(.215,.61,.355,1); 
}

.search-flight-cta .search-flight-cta-wrapper {
    position: relative;
    display: inline-block;
    z-index: 20;
}

.search-flight-cta .search-flight-cta-idle {
    -webkit-transform: scaleX(1);
    -moz-transform: scaleX(1);
    transform: scaleX(1);
    -webkit-transform-origin: 100% 50%;
    -moz-transform-origin: 100% 50%;
    transform-origin: 100% 50%;
}

/*.search-flight-cta-wrapper .search-flight-cta-text { z-index: 99; position: relative; }
*/
.search-flight-cta:hover .search-flight-cta-idle{-webkit-transform:scaleX(0);-moz-transform:scaleX(0);transform:scaleX(0)}

.search-flight-cta:hover .search-flight-cta-wrapper{ z-index: 20; position: relative; 
    -webkit-animation:TextToRight .65s cubic-bezier(.215,.61,.355,1) 30ms forwards;   
     -moz-animation:TextToRight .65s cubic-bezier(.215,.61,.355,1) 30ms forwards;
     animation:TextToRight .65s cubic-bezier(.215,.61,.355,1) 30ms forwards;
 }

.search-flight-cta:hover .search-flight-cta-wrapper .search-flight-cta-text { color: #000; }

.search-flight-cta .search-flight-cta-hover {
    -webkit-transform: scaleX(0);
    -moz-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transform-origin: 0 50%;
    -moz-transform-origin: 0 50%;
    transform-origin: 0 50%;
    z-index: 10;
}
.search-flight-cta:hover .search-flight-cta-hover, .search-flight-cta:hover .search-flight-cta-hover{-webkit-transform:scaleX(1);-moz-transform:scaleX(1);transform:scaleX(1); 
     }
     

.ws-nw {
    white-space: nowrap;
}
.fs-18 {
    font-size: 14px;
    font-weight: 500;
    margin-bottom: 0px;
    color: #fff;
}


.traveller-input {
    border: none;
    border-radius: 0px;
    outline: none;
    width: 100%;
    font-size: 14px; font-weight: 400;
    justify-content: space-between;
    border: 1px solid #b3b0b0 !important;
    height: 42px !important;
    color: #000;
    padding: 7px 10px 7px 35px;
    background: #fff; cursor: pointer;
}

.traveller-input:after {
    content: '\f107';
    position: absolute;
    right: 9px;
    top: 10px;
    bottom: 0px;
    font-family: 'Font Awesome 5 Pro';
    font-weight: normal;
    font-size: 17px;
    border:none;
}

.micon{position: absolute;
    top: 33px; z-index: 999;
    left: 10px;}
.micon i { color: #000;  }
#multiWay { display: none; }
#roundWayMd { }
.pointernone { pointer-events: none; }
.traveller-detail {
    position: absolute;
    z-index: 999;
    width: 100%;
    min-width: 240px;
    box-shadow: 0 1px 5px 0 rgba(0,0,0,0.07);
    border-radius: 4px;
    border: 1px solid #fff;
    
}

.traveller-detail.dropdown-menu {
    background-color: #fff;
    margin: 0;
    position: absolute;
    /* left: inherit !important; */
    right: 0;
    z-index: 99;
    -webkit-transform-origin: 0 0;
    transform-origin: 0 0;
    /* border-radius: 0.5rem; */
    /* box-shadow: 0 0.5rem 1rem 0 rgba(0, 11, 38, 0.24); */
    /* margin-top: 0.75rem; */
    min-width: 300px;
    padding: 0;
    box-shadow: rgba(0, 0, 0, 0.08) 0px 0px 2px 0px, rgba(0, 0, 0, 0.16) 0px 2px 8px 0px;
    border: 0;
    padding: 10px;
    border-radius: 0px;
}

.traveller-detail {
    padding-left: 14px;
    padding-right: 14px;
    padding-top: 7px; padding-bottom: 10px;
    top: 100% !important;
    transform: none !important;
}

.traveller-wrap {
    justify-content: space-between;
    margin: 5px 0 6px;
}

.black-text {
    color: #000000 !important;
}

.disabled, .disable-text {
    color: #7a7a7a;
}

.center, .center-align {
    text-align: center;
}
.circle {
    border-radius: 50%;
}

.add_remove {
    border: 1px solid #000;
    width: 26px;
    height: 26px;
    display: inline-block;
    color: #f5f5f5;
    line-height: 22px;
    font-weight: bold;
    cursor: pointer;
    font-size: 19px;
    background: #000;
}

.add_remove.disabled {
    opacity: 0.2;
}
.selectclass { 
    background: #f2f1f1;
    padding: 10px 10px 10px;
    margin: -10px -10px; 
}
.selectclass .custom-control label {font-size: 14px;
    font-weight: 600;
    line-height: 25px;}
.traveller-count {
    width: 30px;
}

.traveller-count {
    color: rgba(0,0,0,0.87);
}

.selectclass .custom-control { margin-bottom: 4px; }

.selectclass .custom-control-input:checked~.custom-control-label::before {
    color: #fff;
    border-color: #0096cf;
    background-color: #009cd1;
}

.selectclass .custom-control-input:not(:disabled):active~.custom-control-label::before {
    color: #fff;
    background-color: #009ad0;
    border-color: #009ad0;
}

.travl_b { border-bottom: 1px solid #ddd; padding-top: 6px; }
.travl_b:last-child { border-bottom: none; }

.multi_city_container { position: relative; float: left; width: 100%; }

.multi_city_containers { position: relative; float: left; width: 100%; }
.add-city-cta {     position: absolute;
    right: 6px;
    top: 25px;
    padding: 10px 11px;
    color: #fff;
    background: #000;
    font-size: 13px;
    border-radius: 0px; }

.remove-city-cta { position: absolute;
    right: 25px;
    color: #fff;
    bottom: 0px;
    padding: 10px 13px;
    background: #000; border-radius: 0px;
    font-size: 13px; }


.add-city-cta:hover, .remove-city-cta:hover { color: #fff;  }  

.add-city-cta:disabled, .remove-city-cta:disabled { display: none; }


.flight-row{
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    justify-content: space-between;
}
