

.f-search-wrap{
    /*background: linear-gradient(to right, rgb(31, 32, 32) 0%, rgb(188, 144, 78) 100%);*/
    background: #fff;
    padding:15px 0;

    /*box-shadow: -2px 1px 4px 1px #dddbdb;*/
    margin-bottom: 5px;
}

.white-text {
    /*color: #FFFFFF !important;*/
}

.selecttrip {
    position: relative;
    overflow-x: auto;
    overflow-y: hidden;
    width: 100%;
    margin: 0 auto;
    white-space: nowrap;
    padding-left: 0;
    margin-bottom: 0px !important;
}

.mb-20 {
    margin-bottom: 5px;
}
.nopad { padding: 0px; }
.selecttrip .tab {
    display: inline-block;
}

.mr-8 {
    margin-right: 0.5rem;
}

.tab-list {
    border-radius: 0px;
    border: 1px solid #E7E7E7;
    text-align: center;
    line-height: 32px;
    max-height: 33px;
    padding: 0 12px;
    font-size: 0.875rem;
}

.tab-list:hover, .tab-list.active {
    background-color: #FFEFD9;
    border-color: #FFEFD9;
    color: rgba(0,0,0,0.87) !important;
}

.selecttrip .tab .custom-control {
    color: inherit;
    display: block;
    width: 100%;
    height: 100%; padding:0px;
    text-overflow: ellipsis;
    overflow: hidden;
    -webkit-transition: color .28s ease, background-color .28s ease;
    transition: color .28s ease, background-color .28s ease;
}
.selecttrip .tab .custom-control-label{ height: 30px;
    cursor: pointer;
    padding: 0px 15px;
    line-height: 28px;
    border-radius: 0px;
    border: 1px solid #ffffff;
    color: #090909;
    font-size: 14px;
    font-weight: 700;
    background: #fff; }
/*.selecttrip .tab .custom-control-label::before { top: 0px; left: 0px; right: 0px; bottom: 0px; width: 100%; height: 100%; background: none; border-radius: 0px; border:none; } */
.selecttrip .tab .custom-control-input:checked~.custom-control-label { background: #000; z-index: 99; border:1px solid #000; color: #fff; }
.selecttrip .tab .custom-control-input:checked~.custom-control-label::after { display: none; } 
.valign-wrapper {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;    
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
}
.newvalign-wrapper{
    position: relative;
    top: -185px;
    z-index: 101;
    color:#fff;
    display: flex;
    align-items: center;
    align-items: flex-end;
    height: 48px;
    /*border:solid 1px red;*/
}
.nonstop-flight { margin-top: 6px; margin-bottom: 0px !important;  }
.flex-2 {
    flex: 2;
}

.ai-fs {
    align-items: flex-start;
}

.field-inner {
    margin-right: 1.25rem;
    flex: 1;
    position: relative;
}
.padrt10 { padding-right: 1px !important; padding-left: 0px; }
.fs-18 {
    font-size: 1.125rem;
}

.bold {
    font-weight: bold;
}

.d-block {
    display: block;
}
.fs-14 {
    font-size: 0.875rem;
}


.mb-8 {
    margin-bottom: 0.5rem;
}

.f-search-wrap input {
       border: none;
    border-radius: 0px;
    outline: none;
    width: 100%;
    font-size: 14px;
    justify-content: space-between;
    /*border: 1px solid #b3b0b0 !important;*/
    height: 42px !important;
    color: #000;
    padding: 7px 10px 7px 30px;
    background: #fff;
    box-shadow: 0 0 3px 0px rgba(0, 0, 0, 0.25);
    box-shadow: rgba(0, 0, 0, 0.08) 0px 0px 2px 0px, rgba(0, 0, 0, 0.16) 0px 2px 8px 0px;
}

.selectedwrap {
    margin-bottom: 5px;
    position: relative;
}

.selectedwrap::after {
    bottom: 1px;
    color: rgb(102, 102, 102);
    content: "\f0d7";
    cursor: pointer;
    font-family: 'Font Awesome 5 Pro';
    font-size: 14px;
    height: 30px;
    line-height: 40px;
    pointer-events: none;
    position: absolute;
    right: 7px;
    text-align: center;
    top: 1px;
    font-weight: 600;
    width: 19px !important;
    background: none 0px 0px repeat scroll rgb(255, 255, 255);
}

.f-search-wrap .seelt {
       border: none;
    border-radius: 0px;
    outline: none;
    width: 100%;
    font-size: 14px;
    justify-content: space-between;
    border: 1px solid #b3b0b0 !important;
    height: 40px !important;
    color: #000;
    padding: 7px 10px 7px 30px;
    background: #fff;
}

.f-search-wrap input::placeholder { color: #333; font-weight: 600; }

.flex-auto {
    flex: auto;
}
.as-fs {
    align-self: flex-start;
}

.flex-b1 {
    flex: 0.9;
}

.f-search-wrap .search-flight-cta {
   background-color: #000;
    margin-top: 24px;
    padding: 8px 10px;
    font-size: 15px;
    width: 100%;
    font-weight: 500;
    border-radius: 0px;
    color: #ffffff;
    align-self: flex-end;
    text-transform: uppercase;
}

.ws-nw {
    white-space: nowrap;
}
.fs-18 {
    font-size: 14px;
    font-weight: 600;
    margin-bottom: 0px;
    color: #333;
}


.traveller-input {
    border: none;
    border-radius: 0px;
    outline: none;
    width: 100%;
    /*font-size: 14px;*/
    justify-content: space-between;
    /*border: 1px solid #b3b0b0 !important;*/
    height: 42px !important;
    color: #000;
    padding: 7px 10px 7px 35px;
    background: #fff; cursor: pointer;
    box-shadow: 0 0 3px 0px rgba(0, 0, 0, 0.25);
    font-size: 13px;
    color: #000;
    cursor: pointer;
    /*opacity: 0.5;*/
    font-weight: 400;
    box-shadow: rgba(0, 0, 0, 0.08) 0px 0px 2px 0px, rgba(0, 0, 0, 0.16) 0px 2px 8px 0px;
}

.traveller-input:after {
    content: '\f107';
    position: absolute;
    right: 9px;
    top: 10px;
    bottom: 0px;
    font-family: 'Font Awesome 5 Pro';
    font-weight: normal;
    font-size: 17px;
    border:none;
}

.micon{position: absolute;
    top: 33px; z-index: 999;
    left: 10px;}
.micon i { color: #000;  }
#multiWay { display: none; }
#roundWayMd { }
.pointernone { pointer-events: none; }
.traveller-detail {
    position: absolute;
    z-index: 999;
    width: 100%;
   width: auto;
    box-shadow: 0 1px 5px 0 rgba(0,0,0,0.07);
    border-radius: 0px;
    border: 1px solid #fff;
    
}

.traveller-detail.dropdown-menu {
    background-color: #fff;
    margin: 0; 
    position: absolute;
    /*left: inherit !important;*/
    right: 0;
    z-index: 99;
    -webkit-transform-origin: 0 0;
    transform-origin: 0 0;
    /*border-radius: 0.5rem;*/
        /*box-shadow: 0 0.5rem 1rem 0 rgba(0, 11, 38, 0.24);*/
        /*margin-top: 0.75rem;*/
        min-width: 300px;
        padding: 0;
        box-shadow: rgba(0, 0, 0, 0.08) 0px 0px 2px 0px, rgba(0, 0, 0, 0.16) 0px 2px 8px 0px;
        border:0;
        padding:10px;
}

.traveller-detail {
    padding-left: 14px;
    padding-right: 14px;
    padding-top: 7px; padding-bottom: 10px;
    top: 100% !important;
    transform: none !important;
}

.traveller-wrap {
    justify-content: space-between;
    margin: 5px 0 0px;
    display: flex;
        flex-direction: column;
}

.black-text {
    color: #000000 !important;
}

.disabled, .disable-text {
    color: #7a7a7a;
    font-size: 12px;
}

.center, .center-align {
    text-align: center;
}
.circle {
    /*border-radius: 50%;*/
}

.add_remove {
    /*border: 1px solid #000;*/
    width: 22px;
    height: 22px;
    display: inline-block;
    color: #f5f5f5;
    /*line-height: 22px;*/
    font-weight: bold;
    cursor: pointer;
    font-size: 14px;
    background: #000;
    display: flex;
    justify-content: center;
    align-items: center;
}

.add_remove.disabled {
    opacity: 0.2;
}
.selectclass { 
    background: #f2f1f1;
    padding: 10px 10px 10px;
    margin: -10px -10px; 
}
.selectclass .custom-control label {font-size: 14px;
    font-weight: 600;
    line-height: 25px;}
.traveller-count {
    width: 30px;
}

.traveller-count {
    color: rgba(0,0,0,0.87);
}

.selectclass .custom-control { margin-bottom: 4px; }

.selectclass .custom-control-input:checked~.custom-control-label::before {
    color: #fff;
    border-color: #0096cf;
    background-color: #009cd1;
}

.selectclass .custom-control-input:not(:disabled):active~.custom-control-label::before {
    color: #fff;
    background-color: #009ad0;
    border-color: #009ad0;
}

.travl_b { 
    /*border-bottom: 1px solid #ddd;*/
     margin-top: 8px; }
.travl_b:last-child { border-bottom: none; }


.oneroom {
    display: table-cell;
    min-width: 225px;
    padding:0px 11px;
    vertical-align: top;
    margin-bottom: 14px;
}

.roomone {
    /*background: none repeat scroll 0 0 #000; */
    color: #000;
    border-radius: 0px;
    display: block;
    overflow: hidden;
    padding: 5px 0px;
    text-align: left;
    border-radius: 0;
    font-weight: bold;
}

.add_remove_room {
    float: right;
    min-width: 225px;
    padding: 0 0px;
}

.comnbtn_room {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    border: medium none;
    color: royalblue;
    cursor: pointer;
    float: right;
    font-size: 13px;
    margin: 0;
    /*font-weight: bold;*/
   
}
.comnbtn_room span{
    padding-right: 6px;
}
.comnbtn_room span.fa{
    font-weight: 400;
}
.f-search-wrap.fixed-header{
    position: fixed !important;
    top: 0  !important;
    left: 0;
    width: 100%; 
    background-color: #fff !important;
    z-index: 100;
    height: 70px;
    padding:8px 0 0;
    z-index: 105;
    box-shadow: rgba(0, 0, 0, 0.08) 0px 0px 2px 0px, rgba(0, 0, 0, 0.16) 0px 2px 8px 0px;
}
.seachhotel-unfixed{
    background-color: #fff;
    /*box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.24);*/
}


/**/


.shwroombtn{
    margin-top: 23px;
    height: 44px !important;
}

.hotelmap img{
    width: 100%;
    display: block;
}
.hotlheddng h1{
    font-size: 32px;
    color:#fff;
    font-weight: 700;
    text-transform: uppercase;
}


.hotlheddng h1 span{
    font-size: 24px;
    color:#fff;
    font-weight: 700;
    text-transform: capitalize;
    position: relative;
    top: -2px;
}


.hotel-input-row{
    margin-top: -18px;
}
.modify-search a{

}
.mdfylct{
    background: rgba(255,255,255,0.4) !important;
    background: #ffffff !important;
    /*box-shadow: 0 0 6px 0px rgba(0, 0, 0, 0.25) !important;*/
    border:0 !important;
    box-shadow: rgba(0, 0, 0, 0.08) 0px 0px 2px 0px, rgba(0, 0, 0, 0.16) 0px 2px 8px 0px;
    border-radius: 0 !important;
}

.mdfylct-info .card-body {
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    min-height: 1px;
    padding: 1.25rem;
    background: rgba(0,0,0,0.8);
    color: #ffffff;
    border-radius: 0;
}
.fixed-header .mdfylct{
    display: none;
}.fixed-header h1{
    display: none;
}
.f-search-wrap {
    color: #fff;
    background: transparent !important;
    padding: 0;
    position: relative;
    z-index: 10;
    background: #e4e4e4;
    /*overflow: hidden;*/
    padding: 10px;
    position: absolute;
        top: 40%;
        top: 25%;
        left: 0;
        right: 0;
        z-index: 110;
}
.qodef-content{
    position: relative;
}

.qodef-page-footer{
    opacity: 0 !important;
}


.valign-wrapper .owl-theme .owl-dots .owl-dot.active span, .valign-wrappers .owl-theme .owl-dots .owl-dot:hover span {
    background-color: rgb(255, 255, 255);
    width:8px;
    height:8px;
} 


.valign-wrapper .owl-theme .owl-dots .owl-dot span {
    background-color: rgb(255, 255, 255);
    /*width:8px;*/
    /*height:8px;*/
    width: 6px;
    height: 6px;
    background-color: rgb(192, 202, 213);
    background: #869791;
} 

.valign-wrapper .owl-theme .owl-dots .owl-dot {
    display: inline-block;
    zoom: 1;
    width: 18px;
    height: 18px;
}
.valign-wrapper .owl-theme .owl-dots .owl-dot:last-child span{
    width: 4px;
    height: 4px;
    /*background-color: rgb(192, 202, 213);*/
}
.valign-wrapper .owl-theme .owl-dots .owl-dot:last-child.active span{
    background-color: rgb(255, 255, 255);
    width:8px;
    height:8px;
}
.hide{
    display: none;
}

.hotel-img{
        background-repeat: no-repeat;
        background-image: url("../images/home-tab1-hero-1367x520-beach-prog.jpg") !important;
        background-size: cover;
        background-position: center center;
        width: 100%;
        height: 100%;
        opacity: 1;
        visibility: inherit;
        z-index: 20;


}
.cstm_nav {
    background-color: rgba(0, 0, 0, 0) !important;
    padding: 0rem 40px;
}



    .gift-tag::after {
        content: '';
        position: absolute;
        left: 0px;
        top: 0px;
        width: 0;
        height: 0;
        border: 15px solid transparent;
        border-left: 14px solid transparent;
    }
    .gift-tag::before {
        background: #ff3b30;
        content: '';
        display: block;
        height: 100%;
        position: absolute;
        right: -11px;
        top: 4px;
        width: 11px;
        border-top-right-radius: 0px;
        border-bottom-right-radius: 0px;
        display: none;
    }
    .gift-tag {
        background: royalblue;
        border: #dcdcdc;
        border-top-right-radius: 2px;
        color: #ffffff;
        display: inline-block;
        font-size: 15px;
        height: 35px;
        left: 0;
        line-height: 7px;
        margin: 0;
        padding: 15px 25px;
        position: absolute;
        top: 12px;
        /*width: 100px;*/
        -ms-transform: rotate(0deg);
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
        display: -webkit-flex;
        display: -moz-flex;
        display: -ms-flex;
        display: -o-flex;
        display: flex;
        justify-content: center;
        align-items: center;
    }

.width65{
    width: 65%;
    border-radius: 1px;
    border-right: solid 1px #e3e3df;
    padding-right: 10px;
}

.htndetlsinfo a{
    font-size: 13px;
    color:#000;
    display: block;
}
.htndetlsinfo{
    /*margin-bottom: 8px;*/
}
.htndetlsinfo span{
    font-size: 12px;
    color:#000;
    font-weight: bold;
}
.hotel-row-detsil{
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}





.select-hidden {
  display: none;
  visibility: hidden;
  padding-right: 10px;
}

.select {
  cursor: pointer;
  display: inline-block;
  position: relative;
  font-size: 13px;
  color: #fff;
  width: 115px;
  height: 35px;
  margin-bottom: 12px;
  margin-left: 10px;
}

.select-styled {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: #fff;
  padding: 8px 15px 3px 0;
  -moz-transition: all 0.2s ease-in;
  -o-transition: all 0.2s ease-in;
  -webkit-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;color:#000;
  border-bottom:solid 2px #000;
}
.select-styled:after {
  content: "";
  width: 0;
  height: 0;
  border: 4px solid transparent;
  border-color: #000 transparent transparent transparent;
  position: absolute;
  top: 16px;
  right: 10px;
}
.select-styled:hover {
  background-color: #fff;
}
.select-styled:active, .select-styled.active {
  background-color: #fff;
  color:#000;
}
.select-styled:active:after, .select-styled.active:after {
  top: 9px;
  border-color: transparent transparent #000 transparent;
}

.select-options {
  display: none;
  position: absolute;
  top: 100%;
  right: 0;
  left: 0;
  z-index: 999;
  margin: 0;
  padding: 0;
  list-style: none;
  background-color: #fff;
  color:#000;
  height:150px;
  overflow-y: scroll;
  box-shadow: rgba(0, 0, 0, 0.08) 0px 0px 2px 0px, rgba(0, 0, 0, 0.16) 0px 2px 8px 0px;
}
.select-options li {
  margin: 0;
  padding: 12px 0;
  text-indent: 15px;
  border-top: 1px solid #0000;
  -moz-transition: all 0.15s ease-in;
  -o-transition: all 0.15s ease-in;
  -webkit-transition: all 0.15s ease-in;
  transition: all 0.15s ease-in;
}
.select-options li:hover {
  color: #000;
  background: #fff;
}
.select-options li[rel="hide"] {
  display: none;
}
.only_x_left {
    font-size:12px;
    font-weight:bold;
    color: #c00 !important;
}


.myhtlredetail{
    background: #fff;
    background: transparent;
    position: relative;
    /*top:-175px;*/
    margin-top: -175px;
    z-index: 101;
    padding: 20px 20px 48px !important;
    padding: 20px 20px 40px !important;
    padding: 0px 0px 0px !important;
    /*box-shadow: rgba(0, 0, 0, 0.08) 0px 0px 2px 0px, rgba(0, 0, 0, 0.16) 0px 2px 8px 0px;*/
}






.sort-cont .secndry-bg .sort-nav li a::after {
    position: absolute;
    display: block;
    content: " ";
    left: 0;
    bottom: 0px;
    width: 0px;
    -webkit-transition: width .23s;
    -moz-transition: width .23s;
    transition: width .23s;
    border-bottom: 1.5px solid #fff;
}

.sort-cont .secndry-bg .sort-nav li a:hover::after {
    width: 100%;
}

.sort-cont .secndry-bg .sort-nav li a,
.sort-label{
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 0.7px;
    position: relative;
    font-size: 15px;
    color: #fff !important;
    padding: 0px !important;
    padding-bottom: 1px !important;
    display: block;
}
.sort-nav ul li a i:before{
    position: absolute;
    /*top:1px;*/
    /*padding-left: 8px;*/
    margin-top: -3px;
}
.sort .sort-nav ul li i:before{
    text-align: left;
    position: absolute;
    top:3px;
    padding-left: 6px;
    display: block;

}

.shw-btn .sendapplink-texts{
    border:solid 2px #000;
    color:#000;
    cursor: pointer;
    font-size: 14px;
        height: 42px;
        /* margin: 7px 0px 0px 0; */
        position: relative;
        overflow: hidden;
        vertical-align: middle;
        -webkit-transition: color .1s 30ms;
        -moz-transition: color .1s 30ms;
        transition: color .1s 30ms;
        padding: 14px 25pxpx;
        font-weight: 600;
        display: block;
        display: flex;
            justify-content: center;
            align-items: center;
        /* width: 100%; */
         text-transform: uppercase; 
         transition: all 0.5s ease;
    }

.shw-btn .sendapplink-texts:hover{
    background: black;
    border:solid 2px #000;
    color: #fff;
}
.shw-btn{
    margin-top: 38px;
}

.qodef-bg-parallax-image{
    height: 575px !important;
}



.t-datepicker {
    clear: both;
    width: 100%;
    font-size: 14px;
    line-height: 1.4em;
    max-width: 650px;
    background: white;
    color: #fff;
    margin-top: 24px;
    /* height: 41px; */
}

.t-dates {
    padding: 10px 15px;
    height: 40px !important;
    box-sizing: border-box;
}
.data-t-date:hover{
    /*background: red;*/
}
.t-day:hover{
    background: royalblue;
}

.applybtn{
    margin: 20px 0 5px;
}
.check-info-row{
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
}
.check-info-row .t-datepicker{
    width:80%;
    color: #fff;
}
.check-info-row .noofnights{
    width:20%;
    background: white;
        height: 42px;
        margin-top: 24px;
        box-shadow: rgba(0, 0, 0, 0.08) 0px 0px 2px 0px, rgba(0, 0, 0, 0.16) 0px 2px 8px 0px;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 14px;
}
.t-datepicker{
    color: #fff;
}
.check-info-row .noofnights i{
    padding-right: 6px;
}
.t-check-in{
    color:#000;
}
.t-check-out{
    color:#000;
}

.t-check-in .t-date-info-title:before,
.t-check-out .t-date-info-title:before{
    content: "\f073";
    bottom: 0;
    color: #000;
    font-family: "Font Awesome 5 Pro";
    font-weight: 300;
    font-size: 15px;
    left: -22px;
    /*line-height: 50px;*/
    position: absolute;
    text-align: left;
    top: -1px;
}
.t-check-in, .t-check-out{
    color:#fff !important;
}
.t-datepicker-day {
    border-color: #ededed;
    background: #fff;
    color: #000;
}
.t-dates .t-date-check-inbefore:before{
    content: "\f073";
    bottom: 0;
    color: #000;
    font-family: "Font Awesome 5 Pro";
    font-weight: 300;
    font-size: 18px;
    left: -22px;
    line-height: 50px;
    position: absolute;
    text-align: left;
    top: -16px;
}
.t-day-check-in,
.t-month-check-in,
.t-year-check-in,
.t-day-check-out,
.t-month-check-out,
.t-year-check-out{
    color:#000;
}






.topscrollame{
    color:white;
}
.ma  h3{
    color:white;
    /*font-size: 12px;*/
}
.owl-stage{
    /*display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    width:100% !important;
*/}



.c h3{
    font-size: 14px;
}
h3:before{
   /* content: "vv";
    display: block;
    color: red;
    position: absolute;
    right: 0;
*/}
.ssss{
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    color:#fff;
}


.owl-stage{
    /*display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex !important;
*/}




.filtered-item{
        position: relative;
        /*width: 100% !important;*/
    
}



.filtered-cont i {
    /*display: none;*/
    /*padding-left: 10px;
    position: absolute;
    right: 0;
*/}


