.bgtop_minus { margin-top: -73px; }
.qodef-bg-parallax-image {     position: relative;
    display: inline-block;
    width: 100%;
    vertical-align: middle;
    height: 575px;
    background-color: #f6f6f6;
    background-position: center 0;
    background-repeat: no-repeat;
    z-index: 101;
    /*background-attachment: fixed;*/
} 