<!-- <p>manage-api works!</p> -->
<div class="card">
    <div class="card-body">
        <ngb-tabset class="tabs-animated tabs-animated-shadow" #tabs>
            <ngb-tab id="flight">
                <ng-template ngbTabTitle>
                    <span> <i class="fa fa-plane"></i> &nbsp; {{'Flight'}} </span>
                </ng-template>
                <ng-template ngbTabContent>
                    {{'Flight'}}
                    <!-- <app-list-promocode (someEvent)="triggerTab($event)"></app-list-promocode> -->
                </ng-template>
            </ngb-tab>
            <ngb-tab id="hotel">
                <ng-template ngbTabTitle>
                    <span> <i class="fa fa-bed"></i> &nbsp; {{'Hotel'}} </span>
                </ng-template>
                <ng-template ngbTabContent>
                    {{'Hotel'}}
                    <!-- <app-update-promocode [updateData]="updatePromoCode"></app-update-promocode> -->
                </ng-template>
            </ngb-tab>
            <ngb-tab id="insurance">
                <ng-template ngbTabTitle>
                    <span> <i class="fa fa-umbrella"></i> &nbsp; {{'Insurance'}} </span>
                </ng-template>
                <ng-template ngbTabContent>
                    {{'Insurance'}}
                    <!-- <app-update-promocode [updateData]="updatePromoCode"></app-update-promocode> -->
                </ng-template>
            </ngb-tab>
            <ngb-tab id="payment">
                <ng-template ngbTabTitle>
                    <span> <i class="fa fa-bank"></i> &nbsp; {{'Payment'}} </span>
                </ng-template>
                <ng-template ngbTabContent>
                    {{'Payment'}}
                    <!-- <app-update-promocode [updateData]="updatePromoCode"></app-update-promocode> -->
                </ng-template>
            </ngb-tab>
            <ngb-tab id="transfer">
                <ng-template ngbTabTitle>
                    <span> <i class="fa fa-car"></i> &nbsp; {{'Transfer'}} </span>
                </ng-template>
                <ng-template ngbTabContent>
                    {{'Transfer'}}
                    <!-- <app-update-promocode [updateData]="updatePromoCode"></app-update-promocode> -->
                </ng-template>
            </ngb-tab>
            <ngb-tab id="activity">
                <ng-template ngbTabTitle>
                    <span> <i class="fa fa-umbrella"></i> &nbsp; {{'Activity'}} </span>
                </ng-template>
                <ng-template ngbTabContent>
                    {{'Activity'}}
                    <!-- <app-update-promocode [updateData]="updatePromoCode"></app-update-promocode> -->
                </ng-template>
            </ngb-tab>
        </ngb-tabset>
    </div>
</div>