<!-- <p>client-brand works!</p> -->
<div class="client_brand">
    <div class="col-12 nopad">
        <div id="clienticon" class="owl-carousel owl-theme">
            <div class="client_item">
                <img src="assets/images/ad1.png">
            </div>
            <div class="client_item">
                <img src="assets/images/ad2.png">
            </div>
            <div class="client_item">
                <img src="assets/images/ad3.png">
            </div>
        </div>
    </div>
</div>
