<!-- <p>header works!</p> -->
<app-auth></app-auth>
<nav id="navbar_second" class="navbar cstm_nav cstm_nav1 navbar-expand-lg navbar-light bg-light sticky">
    <div class="col-12 nopad">
        <div class="row m-0">
            <a class="navbar-brand" href="#"><img [src]="globals.logoHeader" alt="logo" /></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">

                <div class="qodefcenter valign-wrapper">
                    <div class="qodefmenu">
                        <ul class="navbar-nav ml-auto">

                            <li class="mainmenu nav-item active">
                                <a class="nav-link" href="#">Home</a>
                            </li>

                            <li class="nav-item mainmenu">
                                <a class="nav-link" [routerLink]="['/city-details']" routerLinkActive="router-link-active" >City Guide</a>
                            </li>

                            <li class="nav-item mainmenu">
                                <a class="nav-link" href="#">Boutique Rooms</a>
                            </li>

                            <li class="nav-item mainmenu">
                                <a class="nav-link" href="#">Blogs </a>
                            </li>

                            <li class="nav-item mainmenu">
                                <a class="nav-link" href="#">Things to do</a>
                            </li>


                            <li class="wpb_wrapper_form_head">
                                <div class="placement_wrap_cell">
                                    <div class="searchbox_container">
                                        <form class="search_form_index" action="">
                                            <div class="col-12 nopad searchshutter">

                                                <input type="search" autocomplete="off" id="search_box_head" autocorrect="off" required="" name="location" class="input_form_box" placeholder="Where to?" title="Search" aria-label="Search" value="" />

                                                <span class="submitlogin-bgrnd-wrapper">
                                                <span class="submitlogin-idle" style="background-color: #fff"></span>
                                                <span class="submitlogin-hover" style="background:transparent;"></span>
                                                </span>

                                                <button type="submit" class="sbmt_btn" title="Search" aria-label="Search"><span class="fal fa-search"></span></button>


                                            </div>

                                            <div class="show_data_list show_data_list_head">




                                                <ul class="nearautocompletelist">
                                                    <li>
                                                        <a href="">
                                                            <div class="recimg" style="background-image: url(&quot;https://dynamic-media-cdn.tripadvisor.com/media/photo-o/1b/33/fd/79/caption.jpg?w=100&amp;h=-1&amp;s=1&quot;);"></div><strong>Chicago</strong> United States <span class="smalltype">610 Properties</span>
                                                        </a>
                                                    </li>

                                                    <li>
                                                        <a href="">
                                                            <div class="recimg" style="background-image: url(&quot;https://dynamic-media-cdn.tripadvisor.com/media/photo-o/1b/33/fd/79/caption.jpg?w=100&amp;h=-1&amp;s=1&quot;);"></div> Freehand <strong>Chicago</strong> <span class="smalltype">3 Properties</span>
                                                        </a>
                                                    </li>



                                                </ul>
                                                <div class="clearfix"></div>

                                                <div class="quicklinks-header" style="padding: 9px; margin: 0px;">Recently Viewed</div>

                                                <ul class="nearautocompletelist">
                                                    <li>
                                                        <a href="">
                                                            <div class="recimg" style="background-image: url(&quot;https://dynamic-media-cdn.tripadvisor.com/media/photo-o/1b/33/fd/79/caption.jpg?w=100&amp;h=-1&amp;s=1&quot;);"></div>

                                                            <strong>Chicago</strong><span class="smalltype">City - Metropolitan Area, USA</span>
                                                        </a>
                                                    </li>

                                                    <li>
                                                        <a href="">
                                                            <div class="recimg" style="background-image: url(&quot;https://dynamic-media-cdn.tripadvisor.com/media/photo-o/1b/33/fd/79/caption.jpg?w=100&amp;h=-1&amp;s=1&quot;);"></div> <strong>Chicago</strong> Union Station<span class="smalltype">Train Station - Illinos, USA</span>
                                                        </a>
                                                    </li>
                                                </ul>

                                                <div class="clearfix"></div>

                                                <ul class="autocompletelist">

                                                    <li>
                                                        <a href="">
                                                            <div class="recimg" style="background-image: url(&quot;https://dynamic-media-cdn.tripadvisor.com/media/photo-o/1b/33/fd/79/caption.jpg?w=100&amp;h=-1&amp;s=1&quot;);"></div>

                                                            <strong>Chicago</strong><span class="smalltype">City - Metropolitan Area, USA</span>
                                                        </a>
                                                    </li>

                                                    <li>
                                                        <a href="">
                                                            <div class="recimg" style="background-image: url(&quot;https://dynamic-media-cdn.tripadvisor.com/media/photo-o/1b/33/fd/79/caption.jpg?w=100&amp;h=-1&amp;s=1&quot;);"></div> <strong>Chicago</strong> Union Station<span class="smalltype">Train Station - Illinos, USA</span>
                                                        </a>
                                                    </li>

                                                    <li>
                                                        <a href="">
                                                            <div class="recimg" style="background-image: url(&quot;https://dynamic-media-cdn.tripadvisor.com/media/photo-o/1b/33/fd/79/caption.jpg?w=100&amp;h=-1&amp;s=1&quot;);"></div> <strong>Chicago</strong> (ORD - O'Hare International Airport)<span class="smalltype">Airport - Illinos, USA</span>
                                                        </a>
                                                    </li>

                                                    <li>
                                                        <a href="">
                                                            <div class="recimg" style="background-image: url(&quot;https://dynamic-media-cdn.tripadvisor.com/media/photo-o/1b/33/fd/79/caption.jpg?w=100&amp;h=-1&amp;s=1&quot;);"></div> <strong>Chicago</strong> Union Station<span class="smalltype">Hotel - Busan, South KoreA</span>
                                                        </a>
                                                    </li>

                                                </ul>



                                                <div class="clearfix"></div>
                                                <div class="col-12">
                                                    <div class="quicklinks-header">EXPLORE ZEEBUSINESS</div>

                                                    <div class="quickthings">

                                                        <a class="quicks" href="">Hotels</a>
                                                        <a class="quicks" href="">Flights</a>
                                                        <a class="quicks" href="">Cars</a>
                                                        <a class="quicks" href="">Restaurants</a>
                                                        <a class="quicks" href="">Activities</a>

                                                    </div>
                                                </div>

                                                <div class="clearfix"></div>

                                                <div class="col-12" style="margin-bottom: 10px;">
                                                    <div class="quicklinks-header"></div>
                                                </div>

                                                <div class="clearfix"></div>

                                            </div>

                                        </form>


                                    </div>
                                </div>



                            </li>

                        </ul>



                    </div>

                </div>

                <ul class="navbar-nav rgt_menu ml-auto">

                    <li class="nav-item dropdown">
                        <a class="nav-link" href="#">
                            <span data-toggle="tooltip" data-placement="top" title="Help Center"><i class="far fa-question-circle supportfont"></i></span>
                        </a>
                    </li>

                    <li class="nav-item dropdown currency_selector1">
                        <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
                            <span>$ USD</span>
                        </a>
                        <div class="dropdown-menu currency_dropdown">

                            <a *ngFor="let currency of currencyData; let i = index;" class="dropdown-item" href="#"><strong> {{currency?.symbol}} </strong> {{currency?.code}} </a>
                            <!-- <a class="dropdown-item" href="#"><strong>د.إ </strong>AED</a>
                            <a class="dropdown-item" href="#"><strong>$ </strong>AUD</a> -->
                        </div>
                    </li>

                    <li class="nav-item dropdown language-selector1">
                        <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" id="navbardrop">
                            <span><img src="assets/images/flag-uk.png" /></span>
                        </a>
                        <div class="dropdown-menu lang_dropdown">
                            <a *ngFor="let country of countryList; let i = index;"  href="#" class="dropdown-item">
                                <img class="rounded-circle" [src]="country.flag_url" />
                                <span> {{country.language}} </span>
                            </a>
                            <!-- <a href="#" class="dropdown-item">
                                <img src="assets/images/flag-fr.png" />
                                <span>French</span>
                            </a>
                            <a href="#" class="dropdown-item">
                                <img src="assets/images/flag-es.png" />
                                <span>Spanish</span>
                            </a> -->

                        </div>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#" id="navbardrop" data-toggle="modal" data-target="#show_log">
                            <span data-toggle="tooltip" data-placement="top" title="Become a Member"><span class="rt_icn my_acc"></span> <i class="fas fa-unlock-alt"></i> Login</span>
                        </a>

                    </li>

                    <li class="nav-item dropdown dash_profile d-none">
                        <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" id="navbardrop">
                            <span class="rt_icn my_acc"></span> <i class="far fa-user"></i> My Account <b class="caret"></b>
                        </a>

                        <ul class="dropdown-menu">
                            <li><a href="#"><span class="fal fa-tachometer-alt"></span> Dashboard</a></li>
                            <li><a href="#"><span class="fal fa-file-chart-line"></span> My Trips/Bookings</a></li>
                            <li><a href="#"><span class="fal fa-eye-slash"></span> My Profile</a></li>
                            <li><a href="#"><span class="fal fa-coins"></span> ZB Cash (Zeebucks)</a></li>
                            <li><a href="#"><span class="fal fa-sign-out-alt"></span> Logout</a></li>
                        </ul>

                    </li>

                </ul>
            </div>
        </div>
    </div>
</nav>
<header>
    <nav id="navbar" class="navbar cstm_nav navbar-expand-lg navbar-light sticky" [ngClass]="{ 'bg-light': headerFromHome}" [ngStyle]="{'background-color': fromOtherPage ? '#000000 !important' : ''}">
        <div class="col-12 nopad">
            <div class="row m-0">
                <a class="navbar-brand" href="#"><img src="assets/images/logo.png" alt="logo" /></a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
                <div class="collapse navbar-collapse" id="navbarResponsive">
                    <div class="qodefcenter">
                        <div class="qodefmenu">
                            <ul class="navbar-nav ml-auto">

                                <li class="mainmenu nav-item active">
                                    <a class="nav-link" href="#">Home</a>
                                </li>

                                <li class="nav-item mainmenu">
                                    <a class="nav-link" href="#">City Guide</a>
                                </li>

                                <li class="nav-item mainmenu">
                                    <a class="nav-link" href="#">Boutique Rooms</a>
                                </li>

                                <li class="nav-item mainmenu">
                                    <a class="nav-link" href="#">Blogs </a>
                                </li>

                                <li class="nav-item mainmenu">
                                    <a class="nav-link" href="#">Things to do</a>
                                </li>
                            </ul>
                        </div>
                    </div>

                    <ul class="navbar-nav rgt_menu ml-auto">

                        <li class="nav-item dropdown">
                            <a class="nav-link" href="#">
                                <span data-toggle="tooltip" data-placement="top" title="Help Center"><i class="far fa-question-circle supportfont"></i></span>
                            </a>
                        </li>

                        <li class="nav-item dropdown currency_selector">
                            <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
                                <span >$ USD</span>
                            </a>
                            <div class="dropdown-menu currency_dropdown">
                                <a *ngFor="let currency of currencyData; let i = index;" class="dropdown-item" href="#"><strong> {{currency?.symbol}} </strong> {{currency?.code}} </a>
                                <!-- <a class="dropdown-item" href="#"><strong>$ </strong>USD</a>
                                <a class="dropdown-item" href="#"><strong>د.إ </strong>AED</a>
                                <a class="dropdown-item" href="#"><strong>$ </strong>AUD</a> -->
                            </div>
                        </li>

                        <li class="nav-item dropdown language-selector">
                            <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" id="navbardrop">
                                <span><img src="assets/images/flag-uk.png" /></span>
                            </a>
                            <div class="dropdown-menu lang_dropdown">
                                <a *ngFor="let country of countryList; let i = index;"  href="#" class="dropdown-item">
                                    <img class="rounded-circle" [src]="country.flag_url" />
                                    <span> {{country.language}} </span>
                                </a>
                                <!-- <a href="#" class="dropdown-item">
                                    <img src="assets/images/flag-fr.png" />
                                    <span>French</span>
                                </a>
                                <a href="#" class="dropdown-item">
                                    <img src="assets/images/flag-es.png" />
                                    <span>Spanish</span>
                                </a> -->
                            </div>
                        </li>
                        <li class="nav-item nopadrt">
                            <a class="nav-link" href="#" id="navbardrop" data-toggle="modal" data-target="#show_log">
                                <span data-toggle="tooltip" data-placement="top" title="Become a Member"><span class="rt_icn my_acc"></span> <i class="fas fa-unlock-alt"></i> Login</span>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </nav>

    <div class="backdrop1"></div>
</header>