<!-- <p>home works!</p> -->
<!-- <style>
	.cstm_nav{ background-color: rgba(0, 0, 0, 0) !important;  } 
</style> -->
<app-header [fromHomePage]="true"></app-header>

<div class="qodefwrap">
    <app-banner></app-banner>
    <app-search-form></app-search-form>
    <app-city-guide></app-city-guide>
    <app-client-brand></app-client-brand>
    <app-book-room></app-book-room>
    <app-story-blog></app-story-blog>
    <app-testimonial></app-testimonial>
    <app-category></app-category>
    <app-mobile-promo></app-mobile-promo>
</div>

<app-footer></app-footer>

<div #mapContainer id="map"></div>

