<!-- <p>module-stats works!</p> -->
<div class="row">
    <div class="col-12 col-md-12">
        <section class="content">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-12 col-md-12">
                        <h2>Reports</h2>
                    </div>
                    <div class="col-12 col-sm-6 col-md-3" (click)="gotoReports()">
                        <div class="info-box c-pointer hover-over">
                            <span class="info-box-icon bg-info elevation-1"><i class="fas fa-plane"></i></span>
                            <div class="info-box-content">
                                <span class="info-box-text">Flight Booking</span>
                                <span class="info-box-number"> {{moduleBookingCountFound ?
                                    moduleBookingCount[0]?.noOfBookings : 0}} </span>
                                <span class="progress-description">
                                    <a href=""><small>Agent Report</small></a>
                                </span>
                            </div>
                        </div>
                    </div>
                    <!-- <div class="col-12 col-sm-6 col-md-3 ">
                        <div class="info-box mb-3 c-pointer hover-over">
                            <span class="info-box-icon bg-danger elevation-1"><i class="fas fa-bed"></i></span>
                            <div class="info-box-content">
                                <span class="info-box-text">Hotel Booking</span>
                                <span class="info-box-number">41,410</span>
                            </div>
                        </div>
                    </div>
                    <div class="clearfix hidden-md-up"></div>
                    <div class="col-12 col-sm-6 col-md-3">
                        <div class="info-box mb-3 c-pointer hover-over">
                            <span class="info-box-icon bg-success elevation-1"><i class="fas fa-car"></i></span>
                            <div class="info-box-content">
                                <span class="info-box-text">Car Booking</span>
                                <span class="info-box-number">760</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-sm-6 col-md-3">
                        <div class="info-box mb-3 c-pointer hover-over">
                            <span class="info-box-icon bg-warning elevation-1"><i class="fas fa-umbrella"></i></span>
                            <div class="info-box-content">
                                <span class="info-box-text">Activity Booking</span>
                                <span class="info-box-number">2,000</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-sm-6 col-md-3">
                        <div class="info-box mb-3 c-pointer hover-over">
                            <span class="info-box-icon bg-warning elevation-1"><i class="fas fa-bus"></i></span>
                            <div class="info-box-content">
                                <span class="info-box-text">Transfer Booking</span>
                                <span class="info-box-number">2,000</span>
                            </div>
                        </div>
                    </div> -->
                </div>
            </div>
        </section>
    </div>
</div>