<!-- <p>footer works!</p> -->
<footer class="qodef-page-footer">
    <div class="container">
        <div class="row">
            <div class="col-md-7 nopad">
                <div class="contactlink">
                    <a class="qodef-icon-widget-holder qodef-icon-has-hover" data-hover-color="#bfbfbf" [routerLink]="['/cms']" routerLinkActive="router-link-active"  target="_self">
                        <span class="qodef-icon-text ">Our Story</span>
                    </a>
                    <a class="qodef-icon-widget-holder qodef-icon-has-hover" data-hover-color="#bfbfbf" [routerLink]="['/cms']" routerLinkActive="router-link-active"  target="_self">
                        <span class="qodef-icon-text ">Terms of Use</span>
                    </a>
                    <a class="qodef-icon-widget-holder qodef-icon-has-hover" data-hover-color="#bfbfbf" [routerLink]="['/cms']" routerLinkActive="router-link-active"  target="_self">
                        <span class="qodef-icon-text ">Privacy Policy</span>
                    </a>
                    <a class="qodef-icon-widget-holder qodef-icon-has-hover" data-hover-color="#bfbfbf" [routerLink]="['/cms']" routerLinkActive="router-link-active"  target="_self">
                        <span class="qodef-icon-text ">Help Centre</span>
                    </a>
                </div>

                <div class="contactlink">
                    <a class="qodef-icon-widget-holder qodef-icon-has-hover" data-hover-color="#bfbfbf" [routerLink]="['/cms']" routerLinkActive="router-link-active"  target="_self">
                        <span class="qodef-icon-text ">Site map</span>
                    </a>
                    <a class="qodef-icon-widget-holder qodef-icon-has-hover" data-hover-color="#bfbfbf" [routerLink]="['/cms']" routerLinkActive="router-link-active"  target="_self">
                        <span class="qodef-icon-text ">Careers</span>
                    </a>
                    <a class="qodef-icon-widget-holder qodef-icon-has-hover" data-hover-color="#bfbfbf" [routerLink]="['/cms']" routerLinkActive="router-link-active"  target="_self">
                        <span class="qodef-icon-text ">Press Centre</span>
                    </a>
                    <a class="qodef-icon-widget-holder qodef-icon-has-hover" data-hover-color="#bfbfbf" [routerLink]="['/cms']" routerLinkActive="router-link-active"  target="_self">
                        <span class="qodef-icon-text ">Blogs</span>
                    </a>
                </div>

                <div class="contactlink">

                    <a class="qodef-icon-widget-holder qodef-icon-has-hover" data-hover-color="#bfbfbf" [routerLink]="['/cms']" routerLinkActive="router-link-active"  target="_self">
                        <span class="qodef-icon-text ">Advertise with us</span>
                    </a>

                    <a class="qodef-icon-widget-holder qodef-icon-has-hover" data-hover-color="#bfbfbf" [routerLink]="['/cms']" routerLinkActive="router-link-active"  target="_self">
                        <span class="qodef-icon-text ">Partner services</span>
                    </a>

                    <a class="qodef-icon-widget-holder qodef-icon-has-hover" data-hover-color="#bfbfbf" [routerLink]="['/cms']" routerLinkActive="router-link-active"  target="_self">
                        <span class="qodef-icon-text ">Write a Review</span>
                    </a>
                </div>
            </div>

            <div class="col-md-5 nopad" style="padding-right: 22px !important;">
                <div class="newsletter">
                    <div class="col-12">
                        <div class="row">
                            <div class="qodef-eh-custom-2012">
                                <div class="qodef-email-holder">
                                    <form autocomplete="off">
                                        <input type="email" autocorrect="off" name="email" value="" size="40" maxlength="100" class="emailsignup" aria-required="true" aria-invalid="false" placeholder="Subscribe for Newsletter...">
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="clearfix"></div>

                <div class="widget qodef-social-icons-group-widget text-align-center"> Follow Us On : &nbsp;
                    <a class="qodef-social-icon-widget-holder qodef-icon-has-hover" href="" target="_blank">
                        <span class="qodef-social-icon-widget fab fa-twitter"></span>
                    </a>

                    <a class="qodef-social-icon-widget-holder qodef-icon-has-hover" href="" target="_blank">
                        <span class="qodef-social-icon-widget fab fa-facebook-f"></span>
                    </a>

                    <a class="qodef-social-icon-widget-holder qodef-icon-has-hover" href="" target="_blank"><span class="qodef-social-icon-widget fab fa-instagram"></span> </a>

                    <a class="qodef-social-icon-widget-holder qodef-icon-has-hover" href="" target="_blank"><span class="qodef-social-icon-widget fab fa-linkedin-in"></span> </a>

                    <a class="qodef-social-icon-widget-holder qodef-icon-has-hover" href="" target="_blank"><span class="qodef-social-icon-widget fab fa-youtube"></span> </a>

                </div>
            </div>
            <div class="col-12" style="padding-left: 22px; padding-right: 22px;">
                <div class="footlogo"><img [src]="globals.logoFooter" alt="" /></div>
            </div>

            <div class="clearfix"></div>

            <div class="contactlink1">
                <div class="valign-wrapper">
                    <div class="col-md-4 nopad">
                        <a style="text-align:left;" class="qodef-icon-widget-holder1 qodef-icon-has-hover" data-hover-color="#bfbfbf" href="tel:156-677-124-2887" target="_self">
                            <i class="far fa-phone"></i> <span class="qodef-icon-text ">+1 (805) 209-1307</span>
                        </a>
                    </div>
                    <div class="col-md-4 nopad">
                        <a style="text-align:center; display: block;" class="qodef-icon-widget-holder1 qodef-icon-has-hover" data-hover-color="#bfbfbf" href="tel:156-677-124-2887" target="_self">
                            <i class="far fa-envelope"></i> <span class="qodef-icon-text ">info@zeebusiness.com</span>
                        </a>
                    </div>
                    <div class="col-md-4 nopad">
                        <a style="text-align: right; float: right;" class="qodef-icon-widget-holder1 qodef-icon-has-hover" data-hover-color="#bfbfbf" href="tel:156-677-124-2887" target="_self">
                            <i class="far fa-map-marker-alt"></i> <span class="qodef-icon-text ">2905 Lake East Dr Ste 150 Las Vegas NV 89117</span>
                        </a>
                    </div>
                </div>
            </div>
            <div class="contactlink1" style="margin-top: 25px;">
                <div class="valign-wrapper">
                    <div class="col-md-12 nopad text-center">
                        <span style="margin-left: -15px;">© 2020 ZEE BUSINESS, INC. All rights reserved. </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>