/* You can add global styles to this file, and also import other style files */

html,
body {
    height: 100%;
}

body {
    background: #fff;
    margin: 0;
    color: #333;
}


// Please don't remove this css file form here. Thank you!
@import './assets/css/header.css';
@import './assets/css/mapsvg.css';
@import './assets/css/search_form.css';
@import './assets/css/intlTelInput.css';
@import './assets/css/login.css';
@import './assets/css/owl.carousel.min.css';
@import './assets/css/inspire_city.css';
@import './assets/css/testimonial.css';
@import './assets/css/client_brand.css';
@import './assets/css/story_blog.css';
@import './assets/css/book_room.css';
@import './assets/css/mobile_promo.css';
@import './assets/css/category.css';
@import './assets/css/jquery.mCustomScrollbar.css';
@import './assets/css/QFocus.css';
@import './assets/css/city_details.css';
@import './assets/css/citymobile_promoes.css';
@import './assets/css//owl.theme.default.min.css';
// @import './assets/css/';
// @import './assets/css/';
// @import './assets/css/';
// @import './assets/css/';

